@charset "utf-8";
body {
   width: 100%;
   font-family: 'Sarala', sans-serif;
}
header {
   color: rgb(41, 0, 41);
   display: flex;
   width: 30%;
   height: 100vh;
   float: left;
   position: fixed;
   border-right: 1px solid rgb(128, 128, 128);
   justify-content: center;
   padding-top: 3.2em;
}
header li {
   margin-top: 50px;
}
header li a{
   color: rgb(41, 0, 41);
   margin-left: 0px;
   transition: margin-left 0.25s;
}
header li a:hover {
   margin-left: 15px;
}
header li a:hover::before {
   content: "> ";
}

header img {
   width: 100%; 
   position: absolute;
   opacity: 0.25;
   bottom: 0;
   z-index: -1;
   height: 100%;
}
.secondpart {
   padding: 1em 3em;
   color: white;
   float: right;
   width: 70%;
   background: rgb(128,128,255);
}
p {
   padding: 0.8em 0px;
}
h2 {
   font-size: 1.5em;
}
h1 {
   font-size: 2em;
   padding: .25em 0px;
}
figure {
   float: left;
   margin-right: 1.5em;
}
figcaption {
   font-style: italic;
   opacity: 0.75;
}
#secondary {
   display: flex;
   width: 100%;
   justify-content: space-around;
}
iframe {
   width: 350px;
   height: 200px;
}
.poem p {
   text-align: center;
}
.poem p::before {
content: "❝";
font-size: 1.75em;
}
.poem p::after {
   content: "❞";
   font-size: 1.75em;

}
hr {
   width: 50%;
   margin: 20px auto;
}

@media screen and (max-device-width : 480px) {
   body {
      display: block;
      flex-direction: column wrap;
   }
   header {
      padding: .55em 0em;
      font-size: 2.25em;
      width: 100%;
      position: relative;
      height: auto;
   }
   .secondpart {
      width: 100%;
   }
}